/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  max-width: 1280px;
  margin: auto;
}
  .login-container {
    width: 450px !important;
    margin-top: 15%;
    border-color: transparent;
    font-weight: 400;
  }
  .form-control {
    background-color: rgb(45, 52, 61);
    border-color: transparent;
}
.form-control::placeholder {
  color: white;
  opacity: .2;
}

.form-control:focus {
    background-color: rgb(45, 52, 61);
}